<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WavConfigTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Caliburn.Micro" publicKeyToken="8e5891231f2ed21f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.3.0" newVersion="3.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <WavConfigTool.Properties.Settings>
      <setting name="FadeV" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="FadeC" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="FadeD" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="ItemsOnPage" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="CurrentPage" serializeAs="String">
        <value>1</value>
      </setting>
    </WavConfigTool.Properties.Settings>
  </userSettings>
</configuration>